.uncommon-home-header {
  height: auto;
  z-index: 2;
}
.uncommon-home-header > .block-editor-inner-blocks > .block-editor-block-list__layout {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  padding: 1rem;
}
.label {
  background-color: var(--wp--preset--color--contrast, #3c1361);
  color: var(--wp--preset--color--base, #FFF);
  padding: 0.5rem 1rem;
  display: inline-block;
  margin-top: 0;
  font-size: var(--wp--preset--font-size--body-s, 0.75rem);
}